# Server
PORT=
WEB_URL=

# Database
DATABASE_URL=

# Redis
REDIS_URL=
REDIS_HOST=
REDIS_PORT=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Resend (email)
RESEND_API_KEY=

# App
APP_URL=